.container{
    padding-bottom: 70px;
    padding-top: 70px;
}

.d-flex{
    width: 400px;
}

.navbar-brand{
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 12px;
    padding-right: 12px;
    border: black;
    border-width: 1x;
    border-style: solid;
}

.nav-link{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link:hover{
    font-weight: bolder;
}

#iit:hover .dropdown-menu{
    display: block;
}


.banner{
    background: url(https://www.ec4u.com/wp-content/uploads/2020/03/AdobeStock_249960065.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbarNavDropdown{
    color: #e3f2fd;
}

